.container {
  max-width: 90%;
}

.container .column {
  width: 30%;
}

.container .column .card img {
  height: 250px;
}

.container .column .card .name {
  margin: 10px 0 10px 0;
}

.container .column .card .title {
  margin: 10px 0 10px 0;
}

.container .column .card p {
  margin: 0;
}

.container .column .card p button {
  background-color: black;
  color: white;
  height: 100%;
}
.container .column .card p button a {
  display: block;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  padding: 0 500px 0 500px;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin-top: 10%;
  padding: 5px;
  width: 730px;
  height: 580px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup img {
  height: 404px;
  width: 720px;
}
.popup h2 {
  text-align: start;
  font-weight: bold;
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
